@use 'vars' as vars;
@use 'postit';
@use 'menu';
@use 'gallery';
@use 'aktuelles';
@use 'contact';

body {
	font-family: Arial,
		Helvetikca,
		sans-serif;
	background-color: black;
	color: #F2F0CA;
	width: 800px;
	margin: 12px;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
}

header {
	.banner {
		background-color: #700b00;
		background-image: linear-gradient(0deg, #700b00 0%, #c51300 100%);
		height: 55px;
		border-radius: 12px 12px 0px 0px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 24px;
	}

	iframe {
		display: block;
	}
}

main {
	background-color: vars.$panelBG;
	border-radius: 0px 0px 12px 12px;
	background-image: url('/assets/img/RightBottom.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto;

	.content {
		padding: 20px 30px 30px 330px;

	}
}

a {
	&:link {
		color: unset;
	}

	&:visited {
		color: unset;
	}

	&:hover {
		background-color: vars.$postitHeader;
	}
}

h1 {
	font-size: 15pt;
	font-weight: bold;
	margin-top: unset;
}

h2 {
	font-size: 11pt;
	font-weight: bold;
}

blockquote {
	width: 100%;
	background-color: vars.$postitHeader;
	color: vars.$panelBG;
	margin-left: unset;
	padding-top: 1rem;
	padding-bottom: 1rem;

	ul {
		padding-right: 1rem;
	}
}

iframe {
	z-index: 1;
	position: relative;
}

.profilFoto {
	float: left;
	height: 10rem;
	display: flex;
	margin-right: 10px;
	gap: 10px;

	img {
		width: 100%;
		height: 100%;
	}
}

table {
	width: 100%;
	border-collapse: collapse;

	th {
		font-size: 11pt;
		font-weight: bold;
		line-height: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	strong {
		font-size: 11pt;
		font-weight: bold;
		line-height: 2rem;
	}

	tr {
		line-height: 1.2rem;
	}

	td {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	th:first-child,
	td:first-child {
		text-align: right;
	}

	th:nth-child(2),
	td:nth-child(2) {
		text-align: left;
	}

	td:first-child {
		border-right: 1px solid rgba(vars.$postit, 0.5);
	}
}

.back {
	&:hover {
		background-color: unset;
	}

	svg {
		height: 2rem;
		fill: vars.$postit;
	}
}

.spotify {
	svg {
		width: 100%;
	}
}

.dots {
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 2px dotted rgba(vars.$postitText, 0.5);
}

.termine {
	text-decoration: none;

	span {
		font-weight: bold;
	}

	.more {
		text-decoration: underline;
	}
}

.terminContainer {
	margin-left: 50px;
}