@use 'vars' as vars;

aside {
	position: absolute;
	margin-top: -50px;
	margin-left: 10px;
	filter: drop-shadow(0px 0px 25px #000C);
	z-index: 2;
}

.postit {
	background-image: url('/assets/img/ZettelBotHalf.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto;
	background-color: vars.$postit;
	width: 295px;
}

.postitTop {
	background-image: url('/assets/img/ZettelTopHalf.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto;
	width: 295px;
	min-height: 24px;
}

.postitHeader {
	color: vars.$postitHeader;
	font-weight: bold;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 15px;
}

.postitContent {
	details {
		display: none;
	}

	blockquote {
		color: vars.$postit;
		border-radius: 6px;
		font-size: smaller;
		padding: unset;

		div {
			padding: 6px;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: vars.$postit;
			background-color: vars.$postitHeader;

			.more,
			.short,
			.title {
				color: vars.$postit;
				background-color: vars.$postitHeader;
			}
		}
	}

	color: vars.$postitText;
	padding: 20px;

	p {
		margin-top: 5px;
	}

	.title {
		font-weight: bold;
	}

	.short {
		font-weight: normal;
	}

	.more {
		font-size: smaller;
		font-weight: normal;
	}
}